.formulario {
    display: flex;
    justify-content: center;
}

.form-div {
    background-color: rgb(184, 233, 149);
    padding: 1.5rem 3rem;
    border-radius: 1.5rem;
    box-shadow: 0.188rem 0.313rem 0.2rem 0.2rem rgba(32,32,32,0.3);
}

.name, .surname, .email {
    height: 21px;
    width: 209px;
}

#name-error, #surname-error, #email-error {
    height: 21px;
    width: 185px;
    border: 2px solid red;
    background-color: lightpink;
    color: red;
    display: none;
    font-size: 10px;
}

textarea {
    height: 42px;
    width: 185px;
}

/* Error Icon */
p input, p span {
    vertical-align: middle;
}

.material-symbols-outlined {
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;
  color: red;
  /* content: "\e000"; */
}


.error {
    border: 2px solid red;
}

/*estilo de los parrafos de contacto*/
.texto_contact_us {
    display: flex;
    justify-content: center;
}

.cuerpo_about_us {
    line-height: 2;
    width: 37.5rem;
    padding: 1.25rem;
}