/*centrado de la imagen de landing page*/
#imagen_landing_page {
    display: flex;
    justify-content: center;
}
#logo {
    width: 250px;
    height: 76px;
}

/*estilo de las imágenes*/
main img {
    border-radius: 1rem;
}

/*estilo de la imagen que compone el enlace a las recetas*/
.imagen_del_enlace {
    width: 200px;
}

/*estilo de las fotos de las recetas*/
.imagen_de_receta {
    width: 595px;
}

/*estilo de la foto de about_us*/
#foto_resto {
    width: 595px;
}

/*estilo de las fotos de los chefs*/
.foto_chef {
    width: 595px;
}
