@import url(./about_us.css);
@import url(./contact.css);
@import url(./enlaces.css);
@import url(./chefs.css);
@import url(./imagenes_style.css);
@import url(./animacion_titulos.css);
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap');

body {
    font-family: 'Raleway', 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgb(247,241,217);
}

/*para el alineado vertical de los elementos (logo y slogan)*/
.principal {
    display: flex;
    align-items: flex-end;
}

#slogan {
    color: black;
    padding: 1.25rem 1.25rem 0rem 1.25rem;
}

.subtitulo {
    font-weight: bold;
}

/*centrado horizontal de los links principales*/
.indicadores {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    padding: 1.25rem 1.25rem 1rem 1.25rem;      
}

/*centrado de enlaces a secciones*/
.enlaces_a_secciones {
    display: flex;
    justify-content: center;
}

/*margen para los indicadores "recipes, chefs, home, about us, contact*/
.enlace {
    margin: 0.625rem 2.5rem 0.313rem 2.5rem
}

/*centrado de titulo h1*/
h1, h2, h3 {
    display: flex;
    justify-content: center;
    color: black;
}

/*Animacion de los títulos (h1)*/
.titulo_animado{
    animation-name: color_titulos;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

/*centrado de recetas*/
.contenedor_recetas {
    display: flex;
    justify-content: center;
}

/* esta parte de css es para los enlaces a las recetas*/
.contenedor_de_enlaces_01, .contenedor_de_enlaces_02  {
    display: flex;
    justify-content: center;
}

/*esto define la div de los enlaces a las recetas*/
.enlace_a_receta {
    width: 22rem;
    justify-content: center;
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

#go-to {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
}
/*hasta aqui creo lo de css es para los enlaces a las recetas */

/*estilo de las recetas*/
.foto_receta {
    display: flex;
    justify-content: center;
}
.receta_primera_parte, .receta_segunda_parte {
    display: flex;
    justify-content: center;
} 

/*estilo centrado del cuerpo de las recetas*/
.cuerpo {
    line-height: 2;
    width: 37.5rem;
    padding: 1.25rem;
}





/* Estilo básico de la barra de navegación */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #ffffff;
}

.header{
    background-color: #36774c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #b2e0b6;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}





/*estilo de footer*/

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}

header {
    text-align: center;
    padding-top: 100px;
    /* reduje el margin-botton de 300px a 100px porque quedaba mucho espacio en blanco entre el header y el form */
    margin-bottom: 100px; 
    font-size: 35px;
}

header h2 {
    color: #f0525f;
}

header span {
    color: #eaa03f;
}


footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #36774c;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}


.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ffffff;
    text-decoration: none;
    ;
}





/* Footer  */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-icons {
    display: flex;  /* Utilizamos flexbox para alinear horizontalmente los enlaces */
}

.footer-icons a {
    margin-right: 10px;  /* Agregamos un margen derecho entre los enlaces para separarlos */
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}


.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}      