@import url(./about_us.css);
@import url(./contact.css);
@import url(./enlaces.css);
@import url(./chefs.css);
@import url(./imagenes_style.css);
@import url(./animacion_titulos.css);
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap');

body {
    font-family: 'Raleway', 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgb(247,241,217);
}

/*para el alineado vertical de los elementos (logo y slogan)*/
.principal {
    display: flex;
    align-items: flex-end;
}

#slogan {
    color: black;
    padding: 1.25rem 1.25rem 0rem 1.25rem;
}

.subtitulo {
    font-weight: bold;
}

/*centrado horizontal de los links principales*/
.indicadores {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    padding: 1.25rem 1.25rem 1rem 1.25rem;      
}

/*centrado de enlaces a secciones*/
.enlaces_a_secciones {
    display: flex;
    justify-content: center;
}

/*margen para los indicadores "recipes, chefs, home, about us, contact*/
.enlace {
    margin: 0.625rem 2.5rem 0.313rem 2.5rem
}

/*centrado de titulo h1*/
h1, h2, h3 {
    display: flex;
    justify-content: center;
    color: black;
}

/*Animacion de los títulos (h1)*/
.titulo_animado{
    animation-name: color_titulos;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

/*centrado de recetas*/
.contenedor_recetas {
    display: flex;
    justify-content: center;
}

/* esta parte de css es para los enlaces a las recetas*/
.contenedor_de_enlaces_01, .contenedor_de_enlaces_02  {
    display: flex;
    justify-content: center;
}

/*esto define la div de los enlaces a las recetas*/
.enlace_a_receta {
    width: 22rem;
    justify-content: center;
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

#go-to {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
}
/*hasta aqui creo lo de css es para los enlaces a las recetas */

/*estilo de las recetas*/
.foto_receta {
    display: flex;
    justify-content: center;
}
.receta_primera_parte, .receta_segunda_parte {
    display: flex;
    justify-content: center;
} 

/*estilo centrado del cuerpo de las recetas*/
.cuerpo {
    line-height: 2;
    width: 37.5rem;
    padding: 1.25rem;
}

/*estilo del footer*/
footer {
    background-color: rgb(247,241,217);
}